body{
  background-image: url(akan1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.jumbotron{
  background-color: #F5B041;
}
h1 {
  color: #CB4335;
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
}
h3 {
  color:#145A32;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
}
p {
  color: #D1F2EB;
  font-size: 20px;
  font-family: cursive;
  text-align: center;
}
.gender{
  color: #D1F2EB;
  font-size: 20px;
  align-content: center;
  align-items: center;
}
img {
  width: 90%;
  float: inherit;
}
